$icon-font-path: '../fonts/';
@import "bower_components/hubuntu-ui/sass/hubuntu.scss";
.collection .collection-item {
    padding: 20px;
}
.hidden {
    display: none;
}
.breadcrumb{
    padding: 0 1% 0 0.7%;
}
.card-panel {
    width: 98%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}
.tabs .indicator {
    background-color: #607d8b;
}
